# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:

import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
import numpy as np

%matplotlib inline

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [9]:
data_url = 'https://github.com/pradipsapkotag/python/blob/pandas/Assignment1/10_Deleting/Iris/iris.csv'

In [11]:
df = pd.read_csv('iris.csv')
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### Step 3. Assign it to a variable called iris

In [12]:
iris = df.copy()

### Step 4. Create columns for the dataset

In [13]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

In [14]:
iris.columns = ["sepal_length (in cm)", 'sepal_width (in cm)', 'petal_length (in cm)', 'petal_width (in cm)', 'class']

In [15]:
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica

### Step 5.  Is there any missing value in the dataframe?

In [22]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [37]:
iris.loc[10:20,'petal_length (in cm)':]

    petal_length (in cm)  petal_width (in cm)        class
10                   1.6                  0.2  Iris-setosa
11                   1.4                  0.1  Iris-setosa
12                   1.1                  0.1  Iris-setosa
13                   1.2                  0.2  Iris-setosa
14                   1.5                  0.4  Iris-setosa
15                   1.3                  0.4  Iris-setosa
16                   1.4                  0.3  Iris-setosa
17                   1.7                  0.3  Iris-setosa
18                   1.5                  0.3  Iris-setosa
19                   1.7                  0.2  Iris-setosa
20                   1.5                  0.4  Iris-setosa

In [41]:
iris['petal_length (in cm)'][10:29] = np.nan

/tmp/ipykernel_7305/4208286805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris['petal_length (in cm)'][10:29] = np.nan

In [43]:
iris.loc[5:35]

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
5,4.6,3.4,1.4,0.3,Iris-setosa
6,5.0,3.4,1.5,0.2,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa
10,4.8,3.4,NaN,0.2,Iris-setosa
11,4.8,3.0,NaN,0.1,Iris-setosa
12,4.3,3.0,NaN,0.1,Iris-setosa
13,5.8,4.0,NaN,0.2,Iris-setosa
14,5.7,4.4,NaN,0.4,Iris-setosa
15,5.4,3.9,NaN,0.4,Iris-setosa
16,5.1,3.5,NaN,0.3,Iris-setosa
17,5.7,3.8,NaN,0.3,Iris-setosa
18,5.1,3.8,NaN,0.3,Iris-setosa
19,5.4,3.4,NaN,0.2,Iris-setosa
20,5.1,3.7,NaN,0.4,Iris-setosa
21,4.6,3.6,NaN,0.2,Iris-setosa
22,5.1,3.3,NaN,0.5,Iris-setosa
23,4.8,3.4,NaN,0.2,Iris-setosa
24,5.0,3.0,NaN,0.2,Iris-setosa
25,5.0,3.4,NaN,0.4,Iris-setosa
26,5.2,3.5,NaN,0.2,Iris-setosa
27,5.2,3.4,NaN,0.2,Iris-setosa
28,4.7,3.2,NaN,0.2,Iris-setosa
29,4.8,3.1,NaN,0.2,Iris-setosa
30,5.4,3.4,1.5,0.4,Iris-setosa
31,5.2,4.1,1.5,0.1,Iris-setosa
32,5.5,4.2,1.4,0.2,Iris-setosa
33,4.9,3.1,1.5,0.1,Iris-setosa
34,5.0,3.2,1.2,0.2,Iris-setosa
35,5.5,3.5,1.3,0.2,Iris-setosa

### Step 7. Good, now lets substitute the NaN values to 1.0

In [44]:
iris = iris.replace(np.nan, 1.0)

In [46]:
iris.loc[5:35]

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
5,4.6,3.4,1.4,0.3,Iris-setosa
6,5.0,3.4,1.5,0.2,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa
10,4.8,3.4,1.0,0.2,Iris-setosa
11,4.8,3.0,1.0,0.1,Iris-setosa
12,4.3,3.0,1.0,0.1,Iris-setosa
13,5.8,4.0,1.0,0.2,Iris-setosa
14,5.7,4.4,1.0,0.4,Iris-setosa
15,5.4,3.9,1.0,0.4,Iris-setosa
16,5.1,3.5,1.0,0.3,Iris-setosa
17,5.7,3.8,1.0,0.3,Iris-setosa
18,5.1,3.8,1.0,0.3,Iris-setosa
19,5.4,3.4,1.0,0.2,Iris-setosa
20,5.1,3.7,1.0,0.4,Iris-setosa
21,4.6,3.6,1.0,0.2,Iris-setosa
22,5.1,3.3,1.0,0.5,Iris-setosa
23,4.8,3.4,1.0,0.2,Iris-setosa
24,5.0,3.0,1.0,0.2,Iris-setosa
25,5.0,3.4,1.0,0.4,Iris-setosa
26,5.2,3.5,1.0,0.2,Iris-setosa
27,5.2,3.4,1.0,0.2,Iris-setosa
28,4.7,3.2,1.0,0.2,Iris-setosa
29,4.8,3.1,1.0,0.2,Iris-setosa
30,5.4,3.4,1.5,0.4,Iris-setosa
31,5.2,4.1,1.5,0.1,Iris-setosa
32,5.5,4.2,1.4,0.2,Iris-setosa
33,4.9,3.1,1.5,0.1,Iris-setosa
34,5.0,3.2,1.2,0.2,Iris-setosa
35,5.5,3.5,1.3,0.2,Iris-setosa

### Step 8. Now let's delete the column class

In [47]:
iris = iris.drop(columns = 'class')

In [48]:
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,4.9,3.0,1.4,0.2
1,4.7,3.2,1.3,0.2
2,4.6,3.1,1.5,0.2
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
...,...,...,...,...
144,6.7,3.0,5.2,2.3
145,6.3,2.5,5.0,1.9
146,6.5,3.0,5.2,2.0
147,6.2,3.4,5.4,2.3
148,5.9,3.0,5.1,1.8

### Step 9.  Set the first 3 rows as NaN

In [49]:
iris.iloc[:3] = np.nan

In [50]:
iris.head(10)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
5,4.6,3.4,1.4,0.3
6,5.0,3.4,1.5,0.2
7,4.4,2.9,1.4,0.2
8,4.9,3.1,1.5,0.1
9,5.4,3.7,1.5,0.2

### Step 10.  Delete the rows that have NaN

In [53]:
iris = iris.dropna(axis=0)

In [54]:
iris.head(10)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
5,4.6,3.4,1.4,0.3
6,5.0,3.4,1.5,0.2
7,4.4,2.9,1.4,0.2
8,4.9,3.1,1.5,0.1
9,5.4,3.7,1.5,0.2
10,4.8,3.4,1.0,0.2
11,4.8,3.0,1.0,0.1
12,4.3,3.0,1.0,0.1

### Step 11. Reset the index so it begins with 0 again

In [58]:
iris.reset_index(drop = True, inplace = True)

In [61]:
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,5.0,3.6,1.4,0.2
1,5.4,3.9,1.7,0.4
2,4.6,3.4,1.4,0.3
3,5.0,3.4,1.5,0.2
4,4.4,2.9,1.4,0.2
...,...,...,...,...
141,6.7,3.0,5.2,2.3
142,6.3,2.5,5.0,1.9
143,6.5,3.0,5.2,2.0
144,6.2,3.4,5.4,2.3
145,5.9,3.0,5.1,1.8

### BONUS: Create your own question and answer it.

In [62]:
del iris['sepal_width (in cm)']

In [63]:
iris.head(10)

   sepal_length (in cm)  petal_length (in cm)  petal_width (in cm)
0                   5.0                   1.4                  0.2
1                   5.4                   1.7                  0.4
2                   4.6                   1.4                  0.3
3                   5.0                   1.5                  0.2
4                   4.4                   1.4                  0.2
5                   4.9                   1.5                  0.1
6                   5.4                   1.5                  0.2
7                   4.8                   1.0                  0.2
8                   4.8                   1.0                  0.1
9                   4.3                   1.0                  0.1